body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}
.logo{
  width: 70px;
  position: absolute;
  left: 40px;

}

header{
  margin-bottom: 70px;
  background-color: white;
}
  .navbar {
  padding: 1em;
  background-color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.servicos{
  margin-top: 200px;
}


section {
  
  padding: 2em;
  background: white;
  margin: 1em;
  border-radius: 8px;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  background: #0077cc;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 1em;
  background: #222;
  color: white;
}
